$breakpoints: (
  'sm': 375px,
  'md': 768px,
  // tab
  'lg': 1200px,
  // laptop
  'xl': 1440px,
  // desktop
  'xxl': 1920px,

  // for large screen
);

$color: (
  'light': #fff,
  'light-primary': #fafafb,
  'light-secondary': #b5b5be,
  'light-tertiatry': #92929d,
  'dark': #000,
  'dark-primary': #13131a,
  'dark-secondary': #1c1c24,
  'dark-tertiatry': #292932,
  'accent-primary': #f07f2e,
  'accent-secondary': #d14a00,
  'accent-tertiatry': #d14a00,
  'danger': #fc5a5a,
  'warning': #a461d8,
  'success': #82c43c,
  'info': #4e75ff,
  'transparent': transparent,
  'current': currentcolor,
);

$paddings: (
  'sm': 4px,
  'md': 8px,
  'lg': 16px,
  'xl': 20px,
);

$spacers: (
  'sm': 24px,
  'md': 32px,
  'lg': 36px,
  'xl': 68px,
);

$main-font: 'Montserrat';

$font-weights: (
  'Regular': 400,
  'Medium': 500,
  'SemiBold': 600,
  'Bold': 700,
);

$font-sizes: (
  'sm': 14px,
  'md': 16px,
  'lg': 20px,
  'xl': 24px,
);

// maps anamation

$easings: (
  'fast': 300ms ease,
  'slow': 600ms ease,
);
